.section{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 20px 290px;
    justify-content: space-around;
    height: 400px;
}
.article{
    width: 520px;
}
.article > h1{
    font-size: 20px;
    width: 332px;
    padding: 10px 0;
}
.input{
    width: 320px;
    height: 30px;
    margin-top: 7px;
    margin-bottom: 20px;
    border: 0.5px solid #707070;
    border-radius: 5px 5px
}
.buttonForm{
    border: 0.5px solid #707070;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 160px;
    box-shadow: 3px 3px 6px #00000029;
}