.header{
    background-color: #707070;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    height: 400px;
}
.intro{
    padding-top: 69px;
    font-size: 20px;
}
.title{
    font-size: 40px;
    padding-bottom: 24px;
}
.groupbuttons{
    padding: 50px;
    width: 50%;
    margin: 0px 368.px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    border: 0.5px solid #707070;
    background-color: #FFFFFF;
    border-radius: 4px;
    height: 40px;
    width: 160px;
    box-shadow: 3px 3px 6px #00000029;
}