.section{
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 20px 290px;
  justify-content: space-around;
  height: 400px;
}
.article{
  width: 520px;
}
.article > h1{
  font-size: 20px;
  width: 332px;
  padding: 10px 0;
}
.input{
  width: 320px;
  height: 30px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 0.5px solid #707070;
  border-radius: 5px 5px
}
.inputLabelNewsLetter{
  width: 340px;
  height: 30px;
  margin-right: 30px;
  border: 0.5px solid #707070;
  border-radius: 5px 5px
}
.formInputStyle{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.buttonForm{
  border: 0.5px solid #707070;
  background-color: #FFFFFF;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  box-shadow: 3px 3px 6px #00000029;
  margin: 20px 0;
}
.divStyle{
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 0.5px solid #ff0000;
  border-radius: 5px 5px
}
.radioDivStyle{
  display: flex;
  flex-direction: row;
  padding-right: 50px;
}
.formNewsStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonFormNewsLetter{
  border: 0.5px solid #707070;
  background-color: #FFFFFF;
  border-radius: 4px;
  height: 40px;
  width: 260px;
  box-shadow: 3px 3px 6px #00000029;
  margin: 20px 0;
}