.break{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hr{
    position: relative;
    z-index: 1;
    justify-content: center;
    width: 90%;
    border-color: #707070aa;
}
.break > p{
    position: relative;
    z-index: 2;
    right: 10;
    font-size: 20px;
    bottom: 13.5px;
    background-color: white;
    padding: 0 20px;
}